<script>
jQuery(document).ready(function($){
  $("#lock-button").click(function(){
    var name = prompt("What's your name?", "");
    if(name==null)
    {
      $("#main").prepend("<div id='error'><p>Cannot lock without a name</p><div class='clear'></div></div>");    
      $("#error").delay(4000).fadeOut("slow");
      return false;
    }
    var lock_attr = {"name": name, "from": $("#from_machine option:selected").val(), "to": $("#to_machine option:selected").val()}
    jQuery.ajax({
      type: 'POST',
      data: lock_attr,
      url: window.location.href.replace(/\#.*/,"")+"machine/lock",
      dataType: 'json',
      error: function() {},
      success: function(r) {
        if(r.locked != "[]")
        {
          $("#main").prepend("<div id='error'><p>Machines "+r.locked+" were already locked!</p><div class='clear'></div></div>");    
          $("#error").delay(4000).fadeOut("slow");
        }
        setTimeout("window.location.href = window.location.href",4000);
      }
    });
  });

 $("#unlock-button").click(function(){
    var lock_attr = {"from": $("#from_machine option:selected").val(), "to": $("#to_machine option:selected").val()}
    jQuery.ajax({
      type: 'POST',
      data: lock_attr,
      url: window.location.href.replace(/\#.*/,"")+"machine/unlock",
      dataType: 'json',
      error: function() {},
      success: function(r) {
        window.location.href = window.location.href;
      }
    });
  });

 $("#awake-button").click(function(){
    var lock_attr = {"from": $("#from_machine option:selected").val(), "to": $("#to_machine option:selected").val()}
    jQuery.ajax({
      type: 'POST',
      data: lock_attr,
      url: window.location.href.replace(/\#.*/,"")+"machine/mawake",
      dataType: 'json',
      error: function() {},
      success: function(r) {
        window.location.href = window.location.href;
      }
    });
  });

 $("#shutdown-button").click(function(){
    var lock_attr = {"from": $("#from_machine option:selected").val(), "to": $("#to_machine option:selected").val()}
    jQuery.ajax({
      type: 'POST',
      data: lock_attr,
      url: window.location.href.replace(/\#.*/,"")+"machine/mshutdown",
      dataType: 'json',
      error: function() {},
      success: function(r) {
        window.location.href = window.location.href;
      }
    });
  });

  //$(".locked[title]").tooltip();
});
</script>

<%- flash.each do |key, msg| -%>
  <div id="<%= key %>">
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<%- end -%>

<div id="main">
  <% if @machines_list_by_type.blank? %>
    <p>There are not any machines currently in the system.</p>
  <% else %>
    <ul id="machines-type">
      <div id="control-menu">
        <div id="locks" class="menu-item">
          <span class="from_machine">
            From: <%= select_tag "from_machine", options_from_collection_for_select(@machines_list_by_type.values.flatten, "id", "id") %>
          </span>
          <span class="to_machine">
            To: <%= select_tag "to_machine", options_from_collection_for_select(@machines_list_by_type.values.flatten, "id", "id") %>
          </span>
          <span id="lock-button" class="button lock-button"><%= submit_tag "Lock" %></span>
          <span id="unlock-button" class="button unlock-button"><%= submit_tag "Unlock" %></span>
	  <span id="awake-button" class="button awake-button"><%= submit_tag "Awake" %></span>
	  <span id="shutdown-button" class="button shutdown-button"><%= submit_tag "Shutdown" %></span>
        </div>
      </div>
      <% @machines_list_by_type.each do |type,machine_list| %>
        <% type_name = MachineType.find(type).name %>
        <div class="machine-type-container">
          <div class="type-title"><%= type_name %></div>
          <% machine_list.each do |m| %>
            <% unless m.free? %> 
              <div id="<%= type_name %>" title="Locked by <%= m.user %>" class="container locked">
            <% else %>
              <div id="<%= type_name %>" class="container">
            <% end %>
              <li id="machine-<%= m.id %>" class="machine"> 
                <span class="machine-name">Machine <%=m.id%></span> 
                <span class="machine-status <%= (m.alive?) ? "alive" : "dead" %>"><%=m.status%></span>
                <span class="up-link"><%= link_to "Awake", awake_machine_path(m)%></span>
                <span class="down-link"><%= link_to "Shutdown", shutdown_machine_path(m)%></span>  
                <% unless m.free? %>
                  <span class="lock-status">Locked by <%= truncate(m.user, :length => 8) %></span>
                <% end %>
              </li>
            </div>
          <% end %>
        </div>
      <% end %>
    </ul>
  <% end %> 
</div> 
